In [2]:
import pandas as pd
import numpy as np
import boto3

In [4]:
df = pd.read_csv('../data/clean_data.csv')

In [7]:
df

     name  age         job
0   Lucas   24   Professor
1   Pedro   28  Empresario
2  Miguel   21    Advogado